
body {
  margin: 0;
  margin-top: 50vh;  /* position at 50% from top */
  background: #eee;
  overflow: hidden;
}

.dots {
  width: 0;
  height: 0;
  margin: 0 auto;
  position: relative;
}

.dot {
  border-radius: 1000px; /* i.e., a 'large' value */
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  box-sizing: border-box;
  border: 2px solid rgba(33, 33, 33, 0.5);
}
.dot:nth-child(4n+0) {
  /*
  (4 x 0) + 0 = 0 => no match
  (4 x 1) + 0 = 4 => 4th
  */
  background: #B71C1C;
}
.dot:nth-child(4n+1) {
  /*
  (4 x 0) + 1 = 1 => 1st 
  (4 x 1) + 1 = 5 => 5th
  */
  background: #E65100;
}
.dot:nth-child(4n+2) {
  /*
  (4 x 0) + 2 = 2 => 2nd
  (4 x 1) + 2 = 6 => 6th
  */
  background: #01579B;
}
.dot:nth-child(4n+3) {
  /*
  (4 x 0) + 3 = 3 => 3rd
  (4 x 1) + 3 = 7 => 7th
  */
  background: #33691E;
}

/* 
an+b:
a >> integer value
n >> literal letter
+,- >> operator
b >> integer, required if an operator is include in formula
*/